@{
    ViewData["Title"] = "Home Page";
}
@model List<Team>


<div class="text-center">
    <h1 class="display-4">Welcome To World Cup Bracket Maker</h1>
   
    <form asp-controller="Home" asp-action="SearchTeam" method="post">
        <input type="text" name="searchItem" />
        <span class="text-danger">@ViewBag.error</span>
        <input type="submit" value="submit" />
        

    </form>
    
    <table class="table table-striped">
       <thead>
           <tr>
                <th>
                  
               </th>
                <th>
                   Team Name
               </th>
           </tr>
       </thead>
       <tbody>
                @foreach (var row in Model)
                {
                    @if (row.Name_en != "--")
                    {
                        <tr>
                            <td> <img src="@row.Flag" /> </td>
                            <td>@row.Name_en</td>
                            @if(ViewBag.user != null)
                            {
                                <td>
                                    <form asp-controller="Home" asp-action="AddFavorite" method="post">
                                        <input type="submit" name="selectedFav" value="@row.Id" placeholder="Like"/>
                                    </form>
                                </td>
                            }
                        </tr>
                    }

                }
       </tbody>
   </table>

  @if (ViewBag.user != null)
  {
      <h1>Favorite Teams</h1>
      <table class="table">
          <thead>
              <tr>
                  <th></th>
                  <th>Team Name</th>
              </tr>
          </thead>
          <tbody>
                  @foreach(var row in Model)
                  {
                      @for(int i = 0; i < ViewBag.fav.Count; i++)
                      {
                        <tr>
                          @if (row.Id == ViewBag.fav[i].TeamId)
                          {
                              <td><img src="@row.Flag" /></td>
                              <td>@row.Name_en</td>
                              <td>
                               <form asp-controller="Home" asp-action="RemoveFavorite" method="post">
                                        <input type="submit" name="selectedFav" value="@row.Id" alt="image" src="https: //i.ibb.co/CW5Wvry/buttonpng.png" />
                              </form>
                              </td>
                                break;
                            }
                        </tr>
                      }
                  }
          </tbody>
      </table>
  }
</div>
