@model Player;

<div class="alert-dark text-center">
    <h1>@Model.Name</h1>
    <div>
        <h3>Player Info</h3>
        <p></p>
    </div>

    <div>
        <h3>Player Stats</h3>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Total Goals Scored</th>
                    <th>Fouls Comitted</th>
                    <th>Fouls Suffered</th>
                    <th>Own Goals</th>
                    <th>Red Cards</th>
                    <th>Yellow Cards</th>
                    <th>Goals Assists</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.stats.TotalGoals</td>
                    <td>@ViewBag.stats.FoulsCommitted</td>
                    <td>@ViewBag.stats.FoulsSuffered</td>
                    <td>@ViewBag.stats.OwnGoals</td>
                    <td>@ViewBag.stats.RedCards</td>
                    <td>@ViewBag.stats.YellowCards</td>
                    <td>@ViewBag.stats.GoalAssists</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>